<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.AuditRecordDetailQuesDescMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.AuditRecordDetailQuesDesc">
        <id column="AuditRecordDetailQuesDescId" property="auditRecordDetailQuesDescId" />
        <result column="AuditRecordDetailId" property="auditRecordDetailId" />
        <result column="AuditRecordDetailQuesDescPreSuffix" property="auditRecordDetailQuesDescPreSuffix" />
        <result column="AuditRecordDetailQuesDescLastSuffix" property="auditRecordDetailQuesDescLastSuffix" />
        <result column="AuditRecordDetailQuesDescTxt" property="auditRecordDetailQuesDescTxt" />
        <result column="AuditRecordDetailQuesDescCreateTime" property="auditRecordDetailQuesDescCreateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AuditRecordDetailQuesDescId, AuditRecordDetailId, AuditRecordDetailQuesDescPreSuffix, AuditRecordDetailQuesDescLastSuffix, AuditRecordDetailQuesDescTxt, AuditRecordDetailQuesDescCreateTime
    </sql>

</mapper>
