<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.AuditRecordPlateReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.AuditRecordPlateReply">
        <id column="AuditRecordPlateReplyID" property="auditRecordPlateReplyID" />
        <result column="AuditRecordId" property="auditRecordId" />
        <result column="CodeMasterTypeCode1" property="codeMasterTypeCode1" />
        <result column="AuditRecordPlateReplyStatus" property="auditRecordPlateReplyStatus" />
        <result column="AuditRecordPlateReplyUser" property="auditRecordPlateReplyUser" />
        <result column="AuditRecordPlateReplyTime" property="auditRecordPlateReplyTime" />
        <result column="AuditRecordPlateReplyEvalateUser" property="auditRecordPlateReplyEvalateUser" />
        <result column="AuditRecordPlateReplyEvalateTime" property="auditRecordPlateReplyEvalateTime" />
        <result column="AuditRecordPlateReplyEvalateXx" property="auditRecordPlateReplyEvalateXx" />
        <result column="AuditRecordPlateReplySQTime" property="auditRecordPlateReplySQTime" />
        <result column="AuditRecordPlateReplySQUser" property="auditRecordPlateReplySQUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AuditRecordPlateReplyID, AuditRecordId, CodeMasterTypeCode1, AuditRecordPlateReplyStatus, AuditRecordPlateReplyUser, AuditRecordPlateReplyTime, AuditRecordPlateReplyEvalateUser, AuditRecordPlateReplyEvalateTime, AuditRecordPlateReplyEvalateXx, AuditRecordPlateReplySQTime, AuditRecordPlateReplySQUser
    </sql>

</mapper>
