<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.DeptMasterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.DeptMaster">
        <id column="deptMasterCode" property="deptMasterCode" />
        <result column="deptMasterName" property="deptMasterName" />
        <result column="OrgMasterId" property="orgMasterId" />
        <result column="deptMasterParentCode" property="deptMasterParentCode" />
        <result column="deptMasterIsdlt" property="deptMasterIsdlt" />
        <result column="DeptMasterCreate_time" property="deptmastercreateTime" />
        <result column="DeptMasterUpdate_time" property="deptmasterupdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        deptMasterCode, deptMasterName, OrgMasterId, deptMasterParentCode, deptMasterIsdlt, DeptMasterCreate_time, DeptMasterUpdate_time
    </sql>

    <select id="selectByDeptMasterCode" resultMap="BaseResultMap">
        select * from DeptMaster t
        where deptMasterIsdlt = 0 and deptMasterCode = #{deptMasterCode,jdbcType=VARCHAR}
    </select>

</mapper>
