<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.DigitalAuditResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.DigitalAuditResult">
        <id column="DigitalAuditResultId" property="digitalAuditResultId" />
        <result column="DigitalAuditResult_AuditRecordId" property="digitalauditresultAuditrecordid" />
        <result column="DigitalAuditResult_RiskId" property="digitalauditresultRiskid" />
        <result column="DigitalAuditResultUpdate_time" property="digitalauditresultupdateTime" />
        <result column="DigitalAuditResultUpdate_user" property="digitalauditresultupdateUser" />
        <result column="DigitalAuditResultContent" property="digitalAuditResultContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DigitalAuditResultId, DigitalAuditResult_AuditRecordId, DigitalAuditResult_RiskId, DigitalAuditResultUpdate_time, DigitalAuditResultUpdate_user, DigitalAuditResultContent
    </sql>

</mapper>
