<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.HospitalInfoIssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.HospitalInfoIssue">
        <id column="HospitalInfoId" property="hospitalInfoId" />
        <id column="HospitalInfoIssueId" property="hospitalInfoIssueId" />
        <result column="HospitalInfoIssueType" property="hospitalInfoIssueType" />
        <result column="HospitalInfoIssueDetail" property="hospitalInfoIssueDetail" />
        <result column="HospitalInfoIssueIsdlt" property="hospitalInfoIssueIsdlt" />
        <result column="HospitalInfoIssueUpdate_time" property="hospitalinfoissueupdateTime" />
        <result column="HospitalInfoIssueUpdate_user" property="hospitalinfoissueupdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HospitalInfoId, HospitalInfoIssueId, HospitalInfoIssueType, HospitalInfoIssueDetail, HospitalInfoIssueIsdlt, HospitalInfoIssueUpdate_time, HospitalInfoIssueUpdate_user
    </sql>

</mapper>
