<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.HospitalSelfAssessmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.HospitalSelfAssessment">
        <id column="HospitalSelfAssessmentId" property="hospitalSelfAssessmentId" />
        <result column="HospitalSelfAssessmentName" property="hospitalSelfAssessmentName" />
        <result column="HospitalSelfAssessmentType" property="hospitalSelfAssessmentType" />
        <result column="HospitalSelfAssessmentCreate_time" property="hospitalselfassessmentcreateTime" />
        <result column="HospitalSelfAssessmentCreate_user" property="hospitalselfassessmentcreateUser" />
        <result column="HospitalSelfAssessmentStatus" property="hospitalSelfAssessmentStatus" />
        <result column="HospitalSelfAssessmentOrgCode" property="hospitalSelfAssessmentOrgCode" />
        <result column="HospitalSelfAssessmentIsDlt" property="hospitalSelfAssessmentIsDlt" />
        <result column="HospitalSelfAssessmentUpdate_time" property="hospitalselfassessmentupdateTime" />
        <result column="HospitalSelfAssessmentUpdate_user" property="hospitalselfassessmentupdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HospitalSelfAssessmentId, HospitalSelfAssessmentName, HospitalSelfAssessmentType, HospitalSelfAssessmentCreate_time, HospitalSelfAssessmentCreate_user, HospitalSelfAssessmentStatus, HospitalSelfAssessmentOrgCode, HospitalSelfAssessmentIsDlt, HospitalSelfAssessmentUpdate_time, HospitalSelfAssessmentUpdate_user
    </sql>

</mapper>
