<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.HospitalInfoPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.HospitalInfoPerson">
        <id column="HospitalInfoId" property="hospitalInfoId" />
        <id column="HospitalInfoPersonId" property="hospitalInfoPersonId" />
        <result column="HospitalInfoPersonType" property="hospitalInfoPersonType" />
        <result column="HospitalInfoPersonOnJobNum" property="hospitalInfoPersonOnJobNum" />
        <result column="HospitalInfoPersonLeaveJobNum" property="hospitalInfoPersonLeaveJobNum" />
        <result column="HospitalInfoPersonUpdate_time" property="hospitalinfopersonupdateTime" />
        <result column="HospitalInfoPersonUpdate_user" property="hospitalinfopersonupdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HospitalInfoId, HospitalInfoPersonId, HospitalInfoPersonType, HospitalInfoPersonOnJobNum, HospitalInfoPersonLeaveJobNum, HospitalInfoPersonUpdate_time, HospitalInfoPersonUpdate_user
    </sql>

</mapper>
