<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.ImpNotificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.ImpNotification">
        <id column="ImpNotificationId" property="impNotificationId" />
        <result column="ImpNotificationUpdate_user" property="impnotificationupdateUser" />
        <result column="ImpNotificationUpdate_time" property="impnotificationupdateTime" />
        <result column="ImpNotificationDetail" property="impNotificationDetail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ImpNotificationId, ImpNotificationUpdate_user, ImpNotificationUpdate_time, ImpNotificationDetail
    </sql>

</mapper>
