<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.MenuItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.MenuItem">
        <id column="MenuItemId" property="menuItemId" />
        <result column="MenuItemCaption" property="menuItemCaption" />
        <result column="MenuItemOrder" property="menuItemOrder" />
        <result column="MenuItemFatherId" property="menuItemFatherId" />
        <result column="MenuItemType" property="menuItemType" />
        <result column="MenuItemLink" property="menuItemLink" />
        <result column="MenuItemLinkParameters" property="menuItemLinkParameters" />
        <result column="MenuItemLinkTarget" property="menuItemLinkTarget" />
        <result column="MenuItemIconClass" property="menuItemIconClass" />
        <result column="MenuItemShowDeveloperMenuOption" property="menuItemShowDeveloperMenuOption" />
        <result column="MenuItemShowEditMenuOptions" property="menuItemShowEditMenuOptions" />
        <result column="SecFunctionalityId" property="secFunctionalityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MenuItemId, MenuItemCaption, MenuItemOrder, MenuItemFatherId, MenuItemType, MenuItemLink, MenuItemLinkParameters, MenuItemLinkTarget, MenuItemIconClass, MenuItemShowDeveloperMenuOption, MenuItemShowEditMenuOptions, SecFunctionalityId
    </sql>

</mapper>
