<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.PreAuditItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.PreAuditItem">
        <id column="PreAuditItemId" property="preAuditItemId" />
        <result column="PreAuditItemActionType" property="preAuditItemActionType" />
        <result column="PreAuditItemType" property="preAuditItemType" />
        <result column="PreAuditItemName" property="preAuditItemName" />
        <result column="PreAuditItemMethod" property="preAuditItemMethod" />
        <result column="PreAuditItemList" property="preAuditItemList" />
        <result column="PreAuditItemSource" property="preAuditItemSource" />
        <result column="PreAuditItemIsHasRiskId" property="preAuditItemIsHasRiskId" />
        <result column="PreAuditItemUpdate_user" property="preaudititemupdateUser" />
        <result column="PreAuditItemUpdate_time" property="preaudititemupdateTime" />
        <result column="PreAuditItemIsdlt" property="preAuditItemIsdlt" />
        <result column="PreAuditItemCode" property="preAuditItemCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PreAuditItemId, PreAuditItemActionType, PreAuditItemType, PreAuditItemName, PreAuditItemMethod, PreAuditItemList, PreAuditItemSource, PreAuditItemIsHasRiskId, PreAuditItemUpdate_user, PreAuditItemUpdate_time, PreAuditItemIsdlt, PreAuditItemCode
    </sql>

</mapper>
