<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.RemindMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.RemindMsg">
        <id column="RemindMsgId" property="remindMsgId" />
        <result column="RemindMsgTheme" property="remindMsgTheme" />
        <result column="RemindMsgContent" property="remindMsgContent" />
        <result column="RemindMsgCreate_time" property="remindmsgcreateTime" />
        <result column="RemindMsgCreate_user" property="remindmsgcreateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RemindMsgId, RemindMsgTheme, RemindMsgContent, RemindMsgCreate_time, RemindMsgCreate_user
    </sql>

</mapper>
