<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.RiskRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.RiskRelation">
        <id column="RiskRelationPreRiskId" property="riskRelationPreRiskId" />
        <id column="RiskRelationRiskId" property="riskRelationRiskId" />
        <result column="RiskRelationCreate_time" property="riskrelationcreateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RiskRelationPreRiskId, RiskRelationRiskId, RiskRelationCreate_time
    </sql>

    <insert id="saveRiskRelation" parameterType="com.aier.cloud.biz.aams.entity.RiskRelation" >
        insert into RiskRelation(RiskRelationPreRiskId, RiskRelationRiskId, RiskRelationCreate_time)
        values(#{riskRelation.riskRelationPreRiskId,jdbcType=DECIMAL},#{riskRelation.riskRelationRiskId,jdbcType=DECIMAL},#{riskRelation.riskrelationcreateTime,jdbcType=TIMESTAMP})
    </insert>

</mapper>
