<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.SecFunctionalityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SecFunctionality">
        <id column="SecFunctionalityId" property="secFunctionalityId" />
        <result column="SecFunctionalityKey" property="secFunctionalityKey" />
        <result column="SecFunctionalityDescription" property="secFunctionalityDescription" />
        <result column="SecFunctionalityType" property="secFunctionalityType" />
        <result column="SecParentFunctionalityId" property="secParentFunctionalityId" />
        <result column="SecFunctionalityActive" property="secFunctionalityActive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SecFunctionalityId, SecFunctionalityKey, SecFunctionalityDescription, SecFunctionalityType, SecParentFunctionalityId, SecFunctionalityActive
    </sql>

    <select id="queryJoinRoles" resultMap="BaseResultMap">
        select * from SecFunctionality t
        where t.SecFunctionalityId in (
           select distinct t1.SecFunctionalityId  from SecFunctionalityRole t1 where t1.SecRoleId in
            <foreach item="item" index="index" collection="secRoleIds.split(',')"
                     open="(" separator="," close=")">${item}</foreach>
        )
    </select>

</mapper>
