<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.SecRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SecRole">
        <id column="SecRoleId" property="secRoleId" />
        <result column="SecRoleName" property="secRoleName" />
        <result column="SecRoleDescription" property="secRoleDescription" />
        <result column="SecUserId" property="secUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SecRoleId, SecRoleName, SecRoleDescription
    </sql>

    <select id="queryRoleByUserId"  resultMap="BaseResultMap">
        SELECT
          sur.SecUserId,sr.*
        from SecUserRole sur LEFT JOIN SecRole sr on sur.SecRoleId=sr.SecRoleId
        where sur.SecUserId=#{secUserId}
    </select>

</mapper>
