<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.SecUserMapper">
  <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SecUser">
    <id column="SecUserId" property="secUserId" />
    <result column="SecUserName" property="secUserName" />
    <result column="SecUserPassword" property="secUserPassword" />
    <result column="SecUserCode" property="secUserCode" />
    <result column="SecUserCreate_time" property="secusercreateTime" />
    <result column="SecUserUpdate_time" property="secuserupdateTime" />
    <result column="SecUserIsdlt" property="secUserIsdlt" />
    <result column="SecUserMainCode" property="secUserMainCode" />
    <result column="SecUserPosCode" property="secUserPosCode" />
    <result column="SecUserLeaderPosCode" property="secUserLeaderPosCode" />
    <result column="SecUserPosName" property="secUserPosName" />
    <result column="deptMasterCode" property="deptMasterCode" />
    <result column="SecUserGender" property="secUserGender" />
    <result column="SecUserEmail" property="secUserEmail" />
    <result column="SecUserPhoneNumber" property="secUserPhoneNumber" />
    <result column="SecUserLoginCount" property="secUserLoginCount" />
    <result column="SecUserLastLoginTime" property="secUserLastLoginTime" />
    <result column="SecUserLoginIp" property="secUserLoginIp" />
  </resultMap>
  <sql id="Base_Column_List">
    SecUserId, SecUserName, SecUserPassword, SecUserCode, SecUserCreate_time, SecUserUpdate_time,
    SecUserIsdlt, SecUserMainCode, SecUserPosCode, SecUserLeaderPosCode, SecUserPosName,
    deptMasterCode, SecUserGender, SecUserEmail, SecUserPhoneNumber, SecUserLoginCount,
    SecUserLastLoginTime, SecUserLoginIp
  </sql>
  <!-- <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SecUser">
    <id column="SecUserId" property="secUserId" />
    <result column="SecUserName" property="secUserName" />
    <result column="SecUserPassword" property="secUserPassword" />
    <result column="SecUserCode" property="secUserCode" />
    <result column="SecUserCreate_time" property="secusercreateTime" />
    <result column="SecUserUpdate_time" property="secuserupdateTime" />
    <result column="SecUserIsdlt" property="secUserIsdlt" />
    <result column="SecUserMainCode" property="secUserMainCode" />
    <result column="SecUserPosCode" property="secUserPosCode" />
    <result column="SecUserLeaderPosCode" property="secUserLeaderPosCode" />
    <result column="SecUserPosName" property="secUserPosName" />
    <result column="deptMasterCode" property="deptMasterCode" />
    <result column="SecUserGender" property="secUserGender" />
    <result column="SecUserEmail" property="secUserEmail" />
    <result column="SecUserPhoneNumber" property="secUserPhoneNumber" />
    <result column="SecUserLoginCount" property="secUserLoginCount" />
    <result column="SecUserLastLoginTime" property="secUserLastLoginTime" />
    <result column="SecUserLoginIp" property="secUserLoginIp" />
  </resultMap>


  <sql id="Base_Column_List">
    SecUserId, SecUserName, SecUserPassword, SecUserCode, SecUserCreate_time, SecUserUpdate_time, SecUserIsdlt, SecUserMainCode, SecUserPosCode, SecUserLeaderPosCode, SecUserPosName, deptMasterCode, SecUserGender, SecUserEmail, SecUserPhoneNumber, SecUserLoginCount, SecUserLastLoginTime, SecUserLoginIp
  </sql> -->

  <sql id="sql_where">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
        t.SecUserIsdlt &lt;&gt; 1
      <if test="cond.secUserId != null and cond.secUserId > 0">
        and t.SecUserId = #{cond.secUserId,jdbcType=BIGINT}
      </if>
      <if test="cond.secUserMainCode != null and cond.secUserMainCode != ''">
        and t.SecUserMainCode = #{cond.secUserMainCode}
      </if>
      <if test="cond.deptMasterCode != null and cond.deptMasterCode != ''">
        and t.deptMasterCode = #{cond.deptMasterCode}
      </if>
    </trim>
  </sql>

  <select id="getSecUserByCond" resultType="com.aier.cloud.biz.aams.entity.SecUser">
    select
    <include refid="Base_Column_List"/>
    from SecUser t
    <include refid="sql_where"/>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.aier.cloud.biz.aams.entity.SecUser">
    select
    <include refid="Base_Column_List" />
    from SecUser
    where SecUserId = #{secuserid,jdbcType=BIGINT}
  </select>
</mapper>