<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.SelfUserBussinessTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SelfUserBussinessType">
        <id column="SelfUserBussinessTypeId" property="selfUserBussinessTypeId" />
        <result column="SecUserId" property="secUserId" />
        <result column="SelfUserBussinessTypeBussinessType" property="selfUserBussinessTypeBussinessType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SelfUserBussinessTypeId, SecUserId, SelfUserBussinessTypeBussinessType
    </sql>

</mapper>
