<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.SERetractDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.SERetractDetail">
        <id column="SERetractDetailId" property="sERetractDetailId" />
        <result column="SelfEvaluationId" property="selfEvaluationId" />
        <result column="SERetractDetailCreate_time" property="seretractdetailcreateTime" />
        <result column="SERetractDetailCreate_user" property="seretractdetailcreateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERetractDetailId, SelfEvaluationId, SERetractDetailCreate_time, SERetractDetailCreate_user
    </sql>

</mapper>
