<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.UserSelfDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.UserSelfDept">
        <id column="UserSelfDeptId" property="userSelfDeptId" />
        <result column="UserSelfDeptCode" property="userSelfDeptCode" />
        <result column="SecUserId" property="secUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UserSelfDeptId, UserSelfDeptCode, SecUserId
    </sql>

</mapper>
