<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aier.cloud.biz.aams.dao.WechatRestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aier.cloud.biz.aams.entity.WechatRest">
        <id column="WechatRestKey" property="wechatRestKey" />
        <result column="SecUserId" property="secUserId" />
        <result column="WechatReststatus" property="wechatReststatus" />
        <result column="SecUserCode" property="secUserCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WechatRestKey, SecUserId, WechatReststatus, SecUserCode
    </sql>

</mapper>
